%eis ALL=(root) /bin/more, /usr/bin/head, /usr/bin/tail, /usr/sbin/lsof, /bin/grep, /bin/netstat, /bin/ls, /usr/bin/last, /usr/bin/lastlog, /usr/bin/chage -l *, /bin/ps, /sbin/chkconfig --list, /sbin/iptables -nvL
%eis    ALL=(root) /etc/init.d/scsm *
